.menuHorizontal a {text-decoration: none; color: crimson;}
.menuVertical a{text-decoration: none; color: white;}
.menuHorizontal a:hover {text-decoration:  underline;}
.menuVertical a:hover {text-decoration:  underline;}

.menuHorizontal {
    height: 75%; font-size: 75%;
    transition: height 750ms, font-size 750ms;
}
.menuHorizontal:hover {
    height: 125%; font-size: 125%;
}

.menuVertical {
    border: 1px solid black;
    height: 20px; width: 100px;
    background-color: skyblue;
    transition: width 750ms, background-color 2500ms;
}
.menuVertical:hover {
    height: 30px; width: 200px;
    background-color: deeppink;
}

/*Estilo del cubo*/

#element {
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform 2.5s;
    transform: rotate3d(1, 1, 1, 30deg);
    margin: 50px auto;
}
#element:hover, #element:focus {
    transform: rotate3d(1, 1, 1, 180deg);
}

.face {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: inherit;
    font-size: 60px;
    color: black;
}

.front {
    background-color: rgba(214, 26, 26, 0.7);
    transform: translateZ(50px);
}

.top{
    background-color: rgba(41, 120, 211, 0.712);
    transform: rotateX(90deg) translateZ(50px);
}

.back{
    background-color: rgba(11, 186, 60, 0.7);
}

.left{
    background-color: rgba(248, 83, 149, 0.7);
    transform: rotateY(-90deg) translateZ(50px);
}

.bottom{
    background-color: rgba(64, 23, 135, 0.7);
    transform: rotateX(-90deg) translateZ(50px);
}

.right{
    background-color: rgba(192, 0, 240, 0.7);
    transform: rotateY(90deg) translateZ(50px);
}

.barraProgreso {
    height: 25px; width: 775px; background-color: gray;
    color: black; font-size: 125px; font-weight: bold; text-align: center;
    text-transform: uppercase; animation-timing-function: linear; animation-direction: reverse;
    animation-name: progreso; animation-duration: 10s; animation-delay: 1.5s;
}

@keyframes progreso {
    0% { background-color: white; width: 0px;}
    33% { background-color: red; width: 250px;}
    66% {background-color: gold; width: 500px;}
    99% { background-color: darkgreen; width: 750px;}
}

